.table,.NoJobs{
    text-align: center;
    width: 80%;
    margin: 30px auto;

}

.mat-form-field {
  font-size: 14px;
  display: block;
  width: 80%;
margin: 10px auto -20px;
}

.filter{
    width: 90%;
}

.CreateJob{
  width: 80%;
  margin: 30px auto 10px;
}

.NoJobs {
    margin-top: 100px;
    font-size: 30px;
}

.spinnerClass{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.spinnerClass span{
font-size: 20px;    
}